apiVersion: v1
kind: Service
metadata:
  name: {{ include "nebi.fullname" . }}
  namespace: {{ include "nebi.namespace" . }}
  labels:
    {{- include "nebi.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    protocol: TCP
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
    {{- end }}
  selector:
    {{- include "nebi.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
