// Shared mixins used across component stylesheets

@mixin link-hover($decoration-color) {
  &:hover {
    text-decoration: underline;
    color: $decoration-color;
    text-decoration-thickness: 2px !important;
    text-decoration-color: $decoration-color;
  }
}

@mixin link-style($text-color: var(--nebari-links), $decoration-color: var(--ifm-color-primary)) {
  text-decoration: underline;
  color: $text-color;
  text-decoration-color: $decoration-color;
  text-underline-offset: 3px;
  transition: {
    property: text-decoration;
    timing-function: ease-out;
    duration: 0.3s;
  }
  @include link-hover($decoration-color);
}

@mixin code-block-style {
  font-family: var(--global-block-family-code);
  background-color: transparent;
  border: 0px;
  color: var(--nebari-code-color);
  vertical-align: bottom;
  font-weight: 500;
}
