// ==============================================================================
// Global
// ==============================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--global-heading-family);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--global-font-family);
}

[data-theme="dark"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--ifm-color-white-dark);
  }
}

// ==============================================================================
// Links
// ==============================================================================

@mixin link-style($text-color: var(--nebari-links), $decoration-color: var(--ifm-color-primary)) {
  text-decoration: underline;
  color: $text-color;
  text-decoration-color: $decoration-color;
  text-underline-offset: 3px;
  transition: {
    property: text-decoration;
    timing-function: ease-out;
    duration: 0.3s;
  }
  @include link-hover($decoration-color);
}

@mixin link-hover($decoration-color) {
  &:hover {
    text-decoration: underline;
    color: $decoration-color;
    text-decoration-thickness: 2px !important;
    text-decoration-color: $decoration-color;
  }
}

a {
  @include link-style;
}

[data-theme="dark"]a {
  @include link-style(var(--ifm-color-content), var(--nebari-links-dark));
}

// ==============================================================================
// Card containers
// ==============================================================================

.card {
  background-color: transparent;
  border-radius: var(--ifm-global-radius);
}

[data-theme="dark"] a.card {
  text-decoration: none;
  color: var(--ifm-color-content);
  &:hover {
    text-decoration: none;
  }
}

// ==============================================================================
// code blocks
// ==============================================================================
@mixin code-block-style {
  font-family: var(--global-block-family-code);
  background-color: transparent;
  border: 0px;
  color: var(--nebari-code-color);
  vertical-align: bottom;
  font-weight: 500;
}

code {
  @include code-block-style;
}
